/* CSS Document */

p{
font-family: Verdana, sans-serif;
font-size: 11px;

}
a{
color: #FFFFFF ;
text-decoration: none;
}
.navigation {
	color: #FFFFFF;
	background-color: #003399;
	background-position: center center;
	word-spacing: normal;
	line-height: normal;
	text-align: center;
	vertical-align: middle;
	white-space: normal;
	border: 1px solid #FFFFFF;	

}
.navigation:hover {
	color: #FFFFFF;
	background-color: #3399FF;
	background-position: center center;
	word-spacing: normal;
	line-height: normal;
	text-align: center;
	vertical-align: middle;
	white-space: normal;
	border: 1px solid #FFFFFF;	
}
.liga {
	color: #3399FF;
	font-family: Verdana, sans-serif;
	font-size: 11px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	text-decoration: underline;
}
.puesto {
	color: #003399;
	font-family: Verdana, sans-serif;
	font-size: 11px;
	font-style: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
}
.titulo {
	color: #003399;
	font-family:Verdana, sans-serif;
	font-size: 20px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
}
.liga2 {
	font-family: Verdana, sans-serif;
	font-size: 11px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #000000;
}
